#game-board {
    position: sticky;
    width: 100vw;
    height: 100vh;
    background-color: var(--sage);
    overflow: hidden;
    border: 5px solid var(--snake);
}

.snake-segment {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--snake);
}
