header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80vw;
    height: 100vh;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 10%;
    padding-inline: 20px;
    overflow: hidden;

    section {
        z-index: 5;
    }

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            background: color(from var(--sage) srgb r g b / 1);
            transition: background 3s ease;
        }
    }

    .speeds {
        .fastest {
            margin-top: 20px;
            opacity: 0;
        }
    }

    .options {
        height: 0;
        transition: height 0.5s ease;

        > * {
            display: none;
            opacity: 0;
            transition-property: display opacity;
            transition-duration: 0.5s;
            transition-behavior: allow-discrete;
        }
    }

    &:has(.just-play.active) {
        &~ .content-wrapper main {
            display: none;
        }

        .options {
            height: auto;

            > * {
                display: block;
                opacity: 1;

                @starting-style {
                    opacity: 0;
                }
            }
        }
    }

    &:has(~ .content-wrapper.menu-open) .video-container::after {
        background: color(from var(--sage) srgb r g b / 0.4);
    }

    @media (width >= 40em) {
        width: 40vw;
    }

    @media (width >= 64em) {
        width: 20vw;
    }
}

.menu-btns {
    display: grid;
    grid-template-columns: 40px 40px;
    place-items: center;
    gap: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;

    > div {
        display: grid;
        place-items: center;
    }

    input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        inset: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 1001;
    }

    span {
        display: block;
        position: relative;
        background: var(--snake);
        border-radius: 3px;
        z-index: 1000;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
    }

    .pause {
        position: relative;
        display: flex;

        span {
            height: 24px;
            width: 4px;
            
            &:nth-last-child(2) {
                opacity: 0;
            }
        }

        input {
            &:checked ~ span:nth-last-child(2) {
                opacity: 1;
                transform: translate(5px, 7px) rotate(60deg);
            }

            &:checked ~ span:nth-last-child(1) {
                transform: translate(2px, -5px) rotate(-60deg);
            }
        }
    }

    .menu-toggle {
        position: relative;
        gap: 5px;
    
        input { 
            &:checked ~ span:nth-last-child(2) {
                opacity: 0;
            }
    
            &:checked ~ span:nth-last-child(3) {
                transform: translateY(9px) rotate(45deg);
            }
    
            &:checked ~ span:nth-last-child(1) {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    
        span {
            width: 33px;
            height: 4px;
        }
    }

    &:has(~ .content-wrapper.menu-open) {
        span {
            background: var(--white);
        }
    }
}

.content-wrapper {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--sage);
    z-index: 2;
    transition: transform 0.5s ease;

    &.menu-open {
        transform: translateX(-80vw);
    }

    @media (width >= 40em) {
        &.menu-open {
            transform: translateX(-40vw);
        }
    }

    @media (width >= 64em) {
        &.menu-open {
            transform: translateX(-20vw);
        }
    }
}

main {
    position: fixed;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    z-index: 5;
    display: grid;
    justify-content: center;
    background: var(--white); /* Temp while I work on it */

    h1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}